body {
    font-family: 'Nanum Myeongjo', serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

.nanum-myeongjo-regular {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
}

h3 {
    font-size: 1.5em;
    margin: 10px 0;
}

.greeting-title,
.date-title,
.location-title,
.weather-title {
    font-size: 1.5em;
    margin: 50px 0 30px 0;
}

.small-text {
    font-size: 0.8em;
}

.header {
    background-color: #FFFFFF;
    color: black;
    padding: 0 20px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.header-image {
    width: 80%;
    max-height: 200px;
    object-fit: contain;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 2.5em;
    margin: 0;
    padding-top: 10px;
}

.container {
    padding: 20px;
}

.content {
    margin: 40px 0;
}

.content p {
    font-size: 1.2em;
    margin: 10px 0;
}

/* 지도와 테이블의 너비를 동일하게 설정 */
.shared-width-container {
    width: 60%; /* 동일한 너비 설정 */
    margin: 20px auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.map-container {
    height: 450px;
}

.calendar-image-container {
    width: 30%;
    margin: 40px auto;
    text-align: center;
}

.calendar-image {
    width: 100%;
}

.footer {
    background-color: #b2a9e8;
    color: white;
    padding: 20px;
    margin-top: 40px;
}

.footer p {
    margin: 5px 0;
}

#countdown {
    font-size: 1.5em;
    margin: 20px 0;
    color: #b2a9e8;
}

.location-container, .weather-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    text-align: center;
}

.location-icon, .weather-icon {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

.transport-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center; /* 테이블 셀의 내용 가운데 정렬 */
}

.transport-table th,
.transport-table td {
    border: 1px solid #dddddd;
    padding: 8px;
}

.transport-table th {
    background-color: white;
}

.donation-info {
    margin-top: 30px;
    text-align: center;
}

.account-clickable {
    cursor: pointer;
    color: #b2a9e8;
    text-decoration: underline;
}

.account-details {
    display: none;
    margin-top: 10px;
    font-size: 1.2em;
}
